/* ================= LOADING SCREEN ================= */
#loadingScreen {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #000;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: monospace;
  font-size: 20px;
  z-index: 1000;
  opacity: 1;
  transition: opacity 0.8s ease;
}

#loadingScreen.hide {
  opacity: 0;
  pointer-events: none;
}

/* ================= NAME SCREEN ================= */
#nameScreen {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
}

#nameScreen .box {
  background: #111;
  padding: 20px 30px;
  border-radius: 12px;
  text-align: center;
  color: #fff;
  font-family: monospace;
}
